{% extends 'main/base.html.twig' %}

{% block title %}My Collections site{% endblock %}
{% block page_description %}Main page of Collections!{% endblock %}

{% block body %}
    <div class="container-fluid mt-2">



    </div>
{% endblock %}