
    <div class="container-fluid">
        <button class="mobile-menu-toggler" id="mobile_menu_toggler">
            <i class="fas fa-bars"></i>
        </button>

        <a href="#" class="logotype">
            <img src="{{ asset('build/images/icons/') }}" alt="">
        </a>
        <nav class="main-nav">
            <ul class="menu">

                <li class="menu-item font-weight-bold">
                    <a href="{{ path('main_login') }}">
                        <div>Login</div>
                    </a>
                </li>
                
            </ul>
        </nav>
    </div>
